{% load static%}

<style>
  .navbar-brand{
    color: black ;
  }
  #hello-msg{
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
  }

</style>
<nav class="navbar navbar-light bg-dark fixed-top">
  <div class="container-fluid">
<!--    <img src="{% static 'images/logo.png' %}">-->

    <a id="hello-msg" href="{% url 'home' %}">home</a>
    
    <a id="hello-msg" href="{% url 'products' %}">Products</a>
    
  <span id="hello-msg">Hello {{request.user}}!  <a href="{% url 'logout' %}">Logout</a></span>

    
  </div>
  </nav>

